
.rtl #back-to-top { left: clamp(0.9375rem, 0.625rem + 1.0417vw, 1.875rem); right: auto;}
/* =========Home-1========= */
.rtl .wdt-cus-contact-form-type2 .wdt-cus-request-form p, .rtl .wpcf7 input[type="url"], .rtl .wpcf7 input[type="email"], .rtl .wpcf7 input[type="tel"],
.rtl .select2-container--open .select2-dropdown.select2-dropdown--below{direction: rtl;}
.rtl .wdt-cus-contact-form-h1 .wdt-cus-request-form .select2-container .select2-selection--single .select2-selection__rendered { text-align: right; direction: rtl;}
.rtl .wdt-cus-contact-filler.wdt-cus-footer-iconbox .wdt-content-item .wdt-content-detail-group {  margin-right: clamp(0.625rem, 0.4808rem + 0.641vw, 1.25rem); margin-left: 0;}
.rtl .select2-container--default .select2-selection--single .select2-selection__arrow b { right: 50%; margin-right: -7px; margin-left: 0; left: auto;}
.rtl .select2-container--default .select2-selection--single .select2-selection__arrow, .rtl .select2-container--default .select2-selection--multiple .select2-selection__arrow{
    left: 15px !important; right: auto !important;}
.rtl .wpcf7-form .wpcf7-response-output, .rtl .wpcf7 form .wpcf7-response-output{ float: right; margin-left: 0; margin-right: 0; padding: 15px 45px 15px 15px; text-align: right;}
.rtl .wpcf7-form .wpcf7-response-output:before, .rtl .wpcf7 form .wpcf7-response-output:before { left: auto; right: 18px;}
.rtl .wpcf7-not-valid-tip {left: 20px; right: auto;}
.rtl .wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-left-part']{margin-left: 8px; margin-right: 0;}

.rtl .wdt-cus-testimonial-type02 .wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-title-group { margin-right: 10px; margin-left: 0;}
.rtl .wdt-minimal-style.wdt-post-entry.entry-grid-layout .blog-entry.has-post-thumbnail div.entry-date{justify-self: start;}

.rtl .wdt-fadeinleft-hover .blog-entry .entry-thumb > a img, .rtl .wdt-fadeinleft-hover.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image > a {
    transform: translate3d(6.66%, 0, 0); -webkit-transform: translate3d(6.66%, 0, 0); width: calc(100% + 10%);
}
.rtl .wdt-fadeinleft-hover .blog-entry:hover .entry-thumb > a img, .rtl .wdt-fadeinleft-hover.wdt-post-entry.entry-list-layout .blog-entry:hover .entry-thumb .blog-image > a {
    transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0);
}
.rtl .wdt-fadeinright-hover .blog-entry .entry-thumb > a img, .rtl .wdt-fadeinright-hover.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image > a {
    transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); width: calc(100% + 10%);
}
.rtl .wdt-fadeinright-hover .blog-entry:hover .entry-thumb > a img, .rtl .wdt-fadeinright-hover.wdt-post-entry.entry-list-layout .blog-entry:hover .entry-thumb .blog-image > a {
    transform: translate3d(6.66%, 0, 0); -webkit-transform: translate3d(6.66%, 0, 0);
}

.rtl .wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-text:not(:only-child) {
    padding-right: 10px; padding-left: 0;
}
.rtl .wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-prefix {
    padding-left: 5px; padding-right: 0;
}
.rtl .wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-suffix {
    padding-right: 5px; padding-left: 0;
}
.rtl .wdt-counter-holder.wdt-rc-template-icon-back-counter .wdt-column:not(:last-child) .wdt-content-item:before {
    left: 0; right: auto;
}
.rtl .wdt-cus-testimonial-type02 .wdt-testimonial-holder .wdt-content-item .wdt-content-detail-group .wdt-content-description {
    padding-left: 10%; padding-right: 0;
}

@media screen and (min-width: 1025px) {
    .rtl .wdt-cus-testimonial-type02 .wdt-carousel-holder .wdt-carousel-pagination-wrapper {
        left: clamp(2.5rem, 1.4263rem + 1.676vw, 3.4375rem);
        right: auto;
    }
}
@media screen and (max-width: 1024px) {
  .rtl .wdt-cus-testimonial-type02 .wdt-testimonial-holder .wdt-content-item .wdt-content-detail-group .wdt-content-description {
    padding-left: 0;
  }
}

/* ======Blog style====== */


.rtl .wdt-post-entry .blog-entry div.entry-button .wdt-button:not(:focus):not(:hover) span {
    margin-right: 5px;
}
.rtl .wdt-post-entry .blog-entry div.entry-button .wdt-button span svg{transform: scaleX(-1);}
.rtl .wdt-post-entry .blog-entry div.entry-button .wdt-button > span,
.rtl .wdt-post-entry .blog-entry div.entry-button .wdt-button > span svg path { transition: margin-right .3s linear; }
.rtl .blog-entry .entry-button a.wdt-button span { margin: 0 10px 0 0;}

/* ========Btn style======== */
.rtl .wdt-button-holder.wdt-template-filled a.wdt-button:after{
    right: auto; left: 0px;
}
.rtl .wdt-button-holder.wdt-template-filled a.wdt-button:hover:after{
    transform: translate(-15px,15px) rotate(-145deg); -webkit-transform: translate(-15px,15px) rotate(-145deg);
}
.rtl .wdt-button-holder.wdt-template-filled a.wdt-button:hover:before{
    transform: translate(15px,-15px) rotate(45deg); -webkit-transform: translate(15px,-15px) rotate(45deg);
}

.rtl .wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination > button {
    transform: scaleX(-1);
}


/* =========Header style========== */
.rtl .wdt-header-menu .menu-container .wdt-primary-nav li[class*="has-children"] > a > span:after {
    left: 0;
    right: auto;
    margin-right: 8px;
    margin-left: 0;
}
.rtl .wdt-header-menu ul li ul.children, .rtl .wdt-header-menu ul li ul.sub-menu, .rtl .wdt-header-menu ul li.has-mega-menu > ul{
    right: -4px;
    left: auto;
    text-align: right;
}
.rtl .wdt-header-menu .menu-container .wdt-primary-nav li[class*="has-children"] ul > li.menu-item > a > span:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rtl .wdt-header-menu .menu-container .wdt-primary-nav li[class*="has-children"] > a > span:after {
    right: 0;
    left: auto;
    margin-right: 8px;
    margin-left: 0;
}
.rtl .wdt-header-menu ul li ul.children li ul:not(.menu-item-object-wdt_mega_menus ul), .rtl .wdt-header-menu ul li ul.sub-menu li ul:not(.menu-item-object-wdt_mega_menus ul) {
    right: 100%;
    left: auto;
}
.rtl .wdt-shop-menu-icon .wdt-shop-menu-cart-number, .rtl .wdt-header-icons-list-item .wdt-wishlist-menu-icon .wdt-wishlist-count{
    left: -2px;
    right: auto;
}
.rtl .wdt-header-icons-list-item div[class*="menu-icon"] i {
    transform: scaleX(-1);
}

/* header menu */
.rtl .mobile-menu, 
.rtl .mobile-menu ul, .rtl .mobile-menu ul li { text-align: right; }
.rtl .mobile-menu.nav-is-visible{
    animation-name:rtl-anime-slidein-right;
}
@keyframes rtl-anime-slidein-right {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
.rtl .mobile-menu ul li { float: right; width: 100%; }
.rtl .mobile-nav-offcanvas-right .mobile-menu { left: 0; right: auto; }
.rtl .mobile-nav-offcanvas-left .mobile-menu { right: 0; left: auto; -webkit-transform: translateX(100%); transform: translateX(100%); }
.rtl .mobile-menu.is-hidden, .rtl .mobile-menu > ul.is-hidden, .rtl .mobile-menu > ul li ul.is-hidden, .rtl .mobile-menu ul.sub-menu.is-hidden,
.rtl .mobile-menu ul.sub-menu li ul.is-hidden { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
.rtl .mobile-menu, .rtl .mobile-menu > ul, .rtl .mobile-menu > ul ul.children,
.rtl .mobile-menu > ul ul.sub-menu, .rtl .mobile-menu > ul ul.children > li > ul,
.rtl .mobile-menu > ul ul.sub-menu > li > ul {
      left: 0!important; right: auto!important;
    }
.rtl .mobile-menu li[class*="has-children"] > a:before,
.rtl .mobile-menu li[class*="has_children"] > a:before{
    left: 12px;
	right: auto;
}
.rtl .mobile-menu ul li.go-back a:before {
   right: 15px; left: auto; 
   -webkit-transform: translateY(-50%) scaleX(-1);
   transform: translateY(-50%) scaleX(-1);
}

.rtl .mobile-menu ul li.go-back a:hover:before { right: 10px;  left: auto;}

.rtl .mobile-menu li[class*="has-children"] > a:hover:before,
.rtl .mobile-menu li[class*="has_children"] > a:hover:before { left: 8px;  right: auto;}

.rtl .mobile-menu ul li.go-back a:after { right: 25px; left: auto;}

.rtl .mobile-menu ul li.go-back a:hover:after { right: 15px; left: auto; }

.rtl .mobile-menu li[class*="has-children"] > a:after,
.rtl .mobile-menu li[class*="has_children"] > a:after { left: 18px; right: auto; }

.rtl .mobile-menu li[class*="has-children"] > a:hover:after,
.rtl .mobile-menu li[class*="has_children"] > a:hover:after { left: 12px; right: auto; } 

.rtl .mobile-menu-overlay { right: 0; left: auto;
}

.rtl .mobile-menu li[class*="has-children"] > a:before{
    -webkit-transform: translateY(-50%) scaleX(-1);
    transform: translateY(-50%) scaleX(-1);
}
.rtl .mobile-menu ul li.close-nav a,
.rtl .mobile-menu ul li.close-nav,
.rtl li.close-nav a{
    float: left;
}

body.rtl > .wdt-search-form-container .wdt-search-form-close {
    right: auto;
    left: 35px;
}
.rtl #searchform:before, .rtl #searchform input[type="submit"], .rtl #searchform .wdt-search-icon {
    left: 0;
    right: auto;
    transform: scaleX(-1);
}
.rtl #searchform ul.quick_search_results.active:before { right: 20px; left: auto; }
.rtl #searchform ul.quick_search_results { text-align: right; margin-left: auto;}

/* ==========Home-4============ */
.rtl .wdt-hotspot-holder .wdt-hotspot-content-group .wdt-hotspot-tooltip{text-align: right;}
.rtl .wdt-hotspot-holder .wdt-hotspot-content-group .wdt-hotspot-btn-wrap > a:after {
    transform: translateX(0px) scaleX(-1);
}
.rtl .wdt-hotspot-holder .wdt-hotspot-content-group .wdt-hotspot-btn-wrap > a:hover:after {
    transform: translateX(-5px) scaleX(-1);
    -webkit-transform: translateX(-5px) scaleX(-1);
}
.rtl .woocommerce ul.products li.product .product-details .product-element-group-wrapper .product-element-group-items > div.product-title h5 {
    text-align: right;
}
.rtl .wdt-cust-imgbox-style-1 .wdt-content-item::after {
    right: 0; Left: auto;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -moz-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%); 
    background: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%); 
    background: -ms-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%); 
    -webkit-transform: skewX(15deg) translateX(120%); transform: skewX(15deg) translateX(120%);}
.rtl .wdt-cust-imgbox-style-1 .wdt-content-item:hover:after {
    -webkit-transform: skewX(15deg) translateX(-120%); transform: skewX(15deg) translateX(-120%); }   
.rtl .wdt-hotspot-holder .wdt-hotspot-content-group .wdt-hotspot-title-label{text-align: right;}

@media only screen and (max-width: 767px) {
  .rtl .woocommerce ul.products li.product .product-details .product-element-group-wrapper .product-element-group-items > div.product-title h5,
  .rtl .woocommerce ul.products.product-thumb-alignment-top-left li.product .product-thumb-content, .rtl .woocommerce ul.products li.product .price {
     text-align: center !important;
   }
 .rtl .wdt-hotspot-numb {
    right: 20px;
    left: auto;
  }
  .rtl .wdt-hotspot-item-icon .wdt-hotspot-numb {
    right: 0;
    left: auto;
  }
}


/* ===========Home 3============ */

.rtl .wdt-button-holder.wdt-button-icon-after .wdt-button .wdt-button-icon {
  margin-right: 8px;
  margin-left: 0;
  transform: scaleX(-1);
}
.rtl .mfp-close{left: 0; right: auto;}
.rtl .wdt-cust-h3-slider-1 .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info>div.wdt-flex-banner-button a:after {
    transform: translateX(0px) scaleX(-1);
}
.rtl .wdt-cust-h3-slider-1 .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info>div.wdt-flex-banner-button a:hover:after {
    transform: translateX(-5px) scaleX(-1);
    -webkit-transform: translateX(-5px) scaleX(-1);
}
.rtl .wdt-listings-item-wrapper.type1 .detail-icon {
  margin-right: 10px;
  margin-left: 0;
  transform: scaleX(-1);
}
.rtl .wdt-listings-item-wrapper .detail-icon {
  margin-left: 0 !important;
  /* margin-right: 10px !important; */
}

.rtl .wdt-cus-testimonial-style-2 .wdt-content-item .wdt-content-icon-wrapper {
  margin-right: auto;
  transform: scaleX(-1);
  margin-left: 0;
}
.rtl .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    left: -20px; right: auto; 
}
.rtl .wdt-cus-text-images .wdt-elementor-repeater-container .wdt-elementor-repeater-container-wrapper span.wdt-opt-icon.elementor-repeater-item-42de6a4{transform: scaleX(-1);}
 @media (min-width: 1025px) {
    .rtl .wdt-cust-h3-slider-1 .wdt-flex-banner-options .wdt-flex-banner-option:not(:last-child) {
        margin-left: 30px;
        margin-right: 0;
    }
    .rtl .wdt-cus-testimonial-style-2 .wdt-carousel-holder .wdt-carousel-pagination-wrapper {
        left: calc(4.5*clamp(2.5rem, 0.639rem + 2.905vw, 4.125rem));
        right: auto;
  }
}

@media(max-width:1024px){
    .rtl .wdt-cust-h3-slider-1 .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div {
        transform: scaleX(-1);
    }
    .rtl .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-title {
        font-size: 1rem;
        margin: 0 0 0 30px;
    }
}



/* =======Home 2======== */

.rtl .wdt-shop-category-listing-item .wdt-shop-category-listing-image img { 
    -webkit-transform:scale(1); transform:scale(1);}
.rtl .wdt-shop-category-listing-item:hover .wdt-shop-category-listing-image img { 
    -webkit-transform:scale(1.1) rotate(2deg); transform:scale(1.1) rotate(2deg); }

.rtl .wdt-cus-services-imgbox .wdt-content-item .wdt-content-detail-group::before {
    right: 0;
    border-bottom-left-radius: 20px;
    left: auto;
    border-bottom-right-radius: 0;
}
.rtl .wdt-cus-gallery-h2 .wdt-specifications-holder .swiper-slide .wdt-content-item .wdt-content-image-wrapper div > a::after,
.rtl .wdt-cus-gallery-h2 .wdt-specifications-holder .swiper-slide .wdt-content-item .wdt-content-image-wrapper div > a:hover::after{rotate: 90deg;}

.rtl .wdt-cus-services-imgbox .wdt-content-item .wdt-content-button > a .wdt-button-text:after { 
   transform: translateX(0px) scaleX(-1);}
.rtl .wdt-cus-services-imgbox .wdt-content-item .wdt-content-button > a:hover .wdt-button-text::after{
    transform: translateX(-5px) scaleX(-1);
    -webkit-transform: translateX(-5px) scaleX(-1);
}
.rtl .wdt-cus-testimonial-style-3 .wdt-content-item .wdt-content-icon-wrapper {
  left: 0;
  right: auto;
  transform: scaleX(-1);
}
.rtl .pagination ul li a.next i{
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
}

.rtl .wdt-cus-counter-newsletter .wdt-counter-holder .wdt-column::before{left: -6px; right: auto;}
.rtl .wdt-products-pagination-holder .wdt-products-arrow-pagination > a.wdt-products-arrow-prev{ 
    right: calc(-1*clamp(0.9375rem, -10.4605rem + 11.8421vw, 3.75rem)); left: auto; transform: scaleX(-1); }
.rtl .wdt-products-pagination-holder .wdt-products-arrow-pagination > a.wdt-products-arrow-next{
     left: calc(-1*clamp(2.625rem, -9.5329rem + 12.6316vw, 5.625rem)); right: auto; transform: scaleX(-1);}

@media only screen and (max-width: 1280px) {
  .rtl .wdt-cus-counter-newsletter .wdt-counter-holder .wdt-column::before {
    left: -18px;
    right: auto;
  }
}
@media (max-width: 1024px) {
  .rtl .wdt-products-pagination-holder .wdt-products-arrow-pagination > a.wdt-products-arrow-next {
    left: 0;
  }
  .rtl .wdt-products-pagination-holder .wdt-products-arrow-pagination > a.wdt-products-arrow-prev{right: 0;}
}
@media (min-width: 768px) {
  .rtl .wdt-cus-gallery-h2 .wdt-carousel-holder .wdt-carousel-pagination-wrapper {
        left: calc(3*clamp(1.65rem, -1.3006rem + 4.4693vw, 4.0625rem));
        right: auto;
  }
  .rtl .wdt-cus-testimonial-style-3 .wdt-carousel-holder .wdt-carousel-pagination-wrapper {
        left: -20px;
        right: auto;
  }
}

/* ========Contact page======== */
.rtl select, .rtl .select2-container--default .select2-selection--single, .rtl .select2-container--default .select2-selection--multiple{text-align: right !important;}
.rtl .wdt-counter-holder.wdt-rc-template-icon-aside-content .wdt-content-item .wdt-content-detail-group {
    padding-right: clamp(0.625rem, 0.5529rem + 0.3205vw, 0.9375rem);
    padding-left: 0;
}
.rtl .wdt-content-item .wdt-content-counter > *:not(:last-child) {
    margin-left: 2px;
    margin-right: 0;
}

/* ========Service style======== */

.rtl ul.side-nav li a:before{right: 3px; left: auto; transform: scaleX(-1); }
.rtl ul.side-nav li a { padding: 14px 60px 14px 0;}

.rtl .wdt-cus-quote-style .wdt-content-item > .wdt-content-media-group {
    float: right;
    padding-right: 30px;
    transform: scaleX(-1);
}
.rtl .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix'] {
    margin: 0 0 0 10px;
    padding: 0 0 0 5px;
}
.rtl .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    margin-right: 10px;
    margin-left: 0;
}
.rtl .post-edit-link {
    float: left;
}
.rtl .rtl-cus-icon .elementor-widget.elementor-widget-icon-list .elementor-icon-list-icon svg {
    margin: var(--e-icon-list-icon-margin,0 0 0 calc(var(--e-icon-list-icon-size, 1em) * .25))
}


/* ===========Blog style========= */
.rtl .pagination ul li a .wdticon-angle-double-right:before, .rtl .pagination ul li a .wdticon-angle-double-left:before{scale: -1;}
.rtl .widget #searchform input[type="text"] {
    padding-left: 50px;
    padding-right: 20px;
}
.rtl .blog-entry {
    float: right;
    text-align: right;
}
.rtl .widget .recent-posts-widget li .post-details {
    margin-right: 24px;
    margin-left: 0;
}
.rtl .wdt-minimal-style.wdt-post-entry.entry-grid-layout .blog-entry.has-post-thumbnail div.entry-date{
    justify-self: end;
    border-radius: 0 0 var(--wdtRadius_3X) 0;
}
.rtl .wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image > a{
    right: 0;
    left: auto;
}
.rtl .wdt-fadeinleft-hover .blog-entry .entry-thumb > a img, 
.rtl .wdt-fadeinleft-hover.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image > a {
    transform: translate3d(6.66%, 0, 0);
    -webkit-transform: translate3d(6.66%, 0, 0);
    width: calc(100% + 10%);
}
.rtl .wdt-fadeinright-hover .blog-entry:hover .entry-thumb > a img, 
.rtl .wdt-fadeinright-hover.wdt-post-entry.entry-list-layout .blog-entry:hover .entry-thumb .blog-image > a {
    transform: translate3d(6.66%, 0, 0);
    -webkit-transform: translate3d(6.66%, 0, 0);
}

.rtl .blog-single-entry.post-minimal .post-meta .single-entry-author .meta-author-img, .rtl .blog-single-entry.post-minimal .single-entry-author .meta-author-img {
    margin-left: 10px !important;
    margin-right: 0 !important;
}
.rtl .blog-single-entry.post-minimal .single-entry-author .meta-author-info span, .rtl .blog-single-entry.post-minimal .post-meta .single-entry-author .meta-author-info span{
    margin-left: 4px;
    margin-right: 0;
}
.rtl .blog-single-entry.post-minimal .post-date-comment .single-entry-date {
    margin-left: clamp(0.3125rem, 0.2404rem + 0.3205vw, 0.625rem);
    margin-right: 0;
}
.rtl .blog-single-entry.post-minimal .post-date-comment .single-entry-comments:before {
    margin-left: clamp(0.3125rem, 0.2404rem + 0.3205vw, 0.625rem);
    margin-right: 0;
}

/* ==========commment style========== */

.rtl .comment-body {
    padding-right: 80px;
    padding-left: 0;
}
.rtl .comment-author .avatar {
    right: -80px;
    left: auto;
}
.rtl .commentlist li.comment .reply {
    left: 0;
    right: auto;
}
.rtl .comment-metadata a.comment-edit-link {
    margin-right: 1em;
    margin-left: 0;
}
.rtl .comment-form > p {
    float: right;
    text-align: right;
}
.rtl .comment-form .comment-form-cookies-consent label {
    padding-right: 12px;
    padding-left: 0;
}

.rtl .blog-single-entry.post-minimal .entry-post-navigation > div.post-next-link > .nav-title-wrap span {
    margin-right: 10px;
    margin-left: 0;
    scale: -1;
}
.rtl .blog-single-entry.post-minimal .entry-post-navigation > div.post-prev-link > .nav-title-wrap span {
    margin-left: 10px;
    margin-right: 0;
    scale: -1;
}
.rtl .blog-single-entry.post-minimal .entry-post-navigation > div.post-prev-link > .nav-title-wrap p a:before,
.rtl .blog-single-entry.post-minimal .entry-post-navigation > div.post-next-link > .nav-title-wrap p a:after {
    right: 0;
    left: auto;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}
.rtl .blog-single-entry.post-minimal .entry-post-navigation > div.post-prev-link > .nav-title-wrap p a:hover:before,
.rtl .blog-single-entry.post-minimal .entry-post-navigation > div.post-next-link > .nav-title-wrap p a:hover:after {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

@media only screen and (max-width: 767px) {
    .rtl .comment-body {
        padding-right: 60px;
        padding-left: 0;
    }
    .rtl .comment-author .avatar {
        right: -60px;
        left: auto;
    }
}
@media only screen and (max-width: 479px) {
    .rtl .comment-body {
        padding-right: 0;
    }
    .rtl .comment-author .avatar {
        left: 0;
        right: auto;
    }
}


/* ========Pages style====== */
.rtl .wdt-tabs-container .wdt-tabs-list li:not(:last-child) {
    margin: 0 0 0 10px;
}
.rtl .wdt-cus-counter-home3 .wdt-column-wrapper .wdt-column:not(:last-child) .wdt-content-item::after {
    left: 0;
    border-width: 0px 2px 0 0;
    right: auto;
}
.rtl .wdt-cus-home3-process .wdt-content-item .wdt-content-subtitle:before {
    inset: 6px auto auto -6px;
}
.rtl .wdt-cus-home3-process .wdt-content-item .wdt-content-subtitle{inset: -15px auto auto 10px; }
.rtl .wdt-cus-home3-process .wdt-column:not(:last-child):after {
    left: -70px;
    right: auto;
    transform: scaleX(-1);
}
.rtl .wdt-listings-item-wrapper.type3 a.custom-button-style:after {
    margin-right: 0;
    transform: rotate(40deg) scaleX(-1);
    -webkit-transform: rotate(40deg) scaleX(-1);
}
.rtl .wdt-listings-item-wrapper.type3 a.custom-button-style:hover::after {
    transform: rotate(0deg) scaleX(-1);
    -webkit-transform: rotate(0deg) scaleX(-1);
}
.rtl .wdt-contact-form-1{direction: rtl;}
.rtl .wpcf7-form-control-wrap[data-name="Time"]:after {
    left: 20px;
    right: auto;
}
.rtl .flatpickr-calendar:after, .rtl .flatpickr-calendar:before {
    right: 22px;
    left: auto;
}
.rtl .entry-post-navigation-wrapper > .entry-post-navigation.type2 > .post-prev-link {
    border-left: 1px solid var(--wdtBorderColor);
    padding-left: 20px;
    border-right: 0;
    padding-right: 0;
}
.rtl .elementor-widget-container .entry-post-navigation-wrapper .entry-post-navigation.type2>div.post-prev-link h3>a:before, 
.rtl .elementor-widget-container .entry-post-navigation-wrapper .entry-post-navigation.type2>div.post-prev-link.no-post h3:before {
    margin-left: 8px;
    margin-right: 0;
    scale: -1;
}

.rtl .elementor-widget-container .entry-post-navigation-wrapper .entry-post-navigation.type2>div.post-next-link h3>a:after, 
.rtl .elementor-widget-container .entry-post-navigation-wrapper .entry-post-navigation.type2>div.post-next-link.no-post h3:after {
    content: "\f904";
    margin-right: 8px;
    margin-left: 0;
    scale: -1;
}

.rtl .elementor-widget-container .entry-post-navigation-wrapper .entry-post-navigation.type2>div.post-next-link h3>a:before {
    right: 0;
    left: auto;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
}

.rtl .elementor-widget-container .entry-post-navigation-wrapper .entry-post-navigation.type2>div.post-prev-link h3>a:after {
    right: auto;
    left: 0;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}


@media(max-width: 1024px){
    .rtl .wdt-drag-slidr-style .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div{scale: -1;}
}
@media (min-width: 768px) {
    .rtl .wdt-testimonial-holder.wdt-rc-template-side-image .wdt-carousel-pagination-wrapper {
        left: 100px;
        right: auto;
    }
}

@media only screen and (max-width: 767px) {
    .rtl .wdt-tabs-container[class*='-tabs-toggle-mode'] .wdt-tabs-list-wrapper .wdt-tabs-list:after {
        left: 18px;
        -webkit-transform: rotate(45deg) translateY(-50%);
        transform: rotate(45deg) translateY(-50%);
        right: auto;
    }
    .rtl .wdt-tabs-container[class*='-tabs-toggle-mode'] .wdt-tabs-list-wrapper .wdt-tabs-list:before {
        left: 27px;
        -webkit-transform: rotate(-45deg) translateY(-50%);
        transform: rotate(-45deg) translateY(-50%);
        right: auto;
    }
    .rtl .wdt-tabs-container[class*='-tabs-toggle-mode'] .wdt-tabs-list-wrapper .wdt-tabs-list.wdt-expanded:before {
        left: 18px;
        right: auto;
    }
    .rtl .wdt-tabs-container[class*='-tabs-toggle-mode'] .wdt-tabs-list-wrapper .wdt-tabs-list.wdt-expanded:after {
        left: 26px;
        right: auto;
    }
}


body.rtl.error404 div.wrapper {
    background-image: url(https://wdtgrassroot.wpengine.com/rtl-demo/wp-content/uploads/sites/3/2025/05/404-bg-new.jpg);
}
.rtl .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close{
    left: -20px;
    right: auto;}

/* ========shop style========= */
.rtl .woocommerce select, .rtl .woocommerce form select, .rtl .woocommerce form .form-row select {
    padding-right: 12px;
    padding-left: 30px;
}
.rtl .woocommerce ul.products.product-label-boxed li.product .product-labels {
    right: 15px;
    left: auto;
}
.rtl.woocommerce ul.products li.product .product-details .product-element-group-wrapper > div:nth-child(1):nth-last-child(2),
.rtl.woocommerce ul.products[class*="custom-template-one"] li.product:not(.product-list-left-thumb):not(.product-list-right-thumb) .product-details .product-element-group-wrapper > div:nth-child(2):nth-last-child(1) {
    text-align: right;
}
.rtl.woocommerce .product span.price del, .rtl.woocommerce-page .product span.price del,
.rtl.woocommerce div.product span.price del, .rtl.woocommerce-page div.product span.price del,
.rtl.woocommerce .product-price del, .rtl.woocommerce-page .product-price del{margin: 0 0 0 5px;}

.rtl.woocommerce div.product .summary .woocommerce-product-rating .star-rating {
    margin: 0 0 0 5px;
}
.rtl.woocommerce div.product form.cart div.quantity {
    margin: 10px 0 10px 19px;
}
.rtl.woocommerce.single-product .product .single_add_to_cart_button:before{margin-left: 8px; margin-right: 0;}
.rtl .wdt-product-image-gallery-holder.wdt-product-vertical-thumb-left .wdt-product-image-gallery-thumb-container {
    margin: 0 0 0 10px;
}
.rtl.woocommerce div.product .wdt-product-tabs-exploded > h2{text-align: right;}
.rtl .tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-heart-o::before, .rtl .tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-times::before{ display: inline-block;}

.rtl.woocommerce #reviews #comments ol.commentlist li .star-rating {
    float: left;
}
.rtl.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    float: right;
}
.rtl.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 50px 0 0;
}
.rtl .wdt-product-image-gallery-container .wdt-product-image-gallery-thumb-enlarger{
  right: 15px;
  left: auto;
  transform: scaleX(-1);
}
@media only screen and (max-width: 479px) {
    .rtl.woocommerce #review_form #respond p {
        text-align: right;
    }
    .rtl.woocommerce #reviews #comments ol.commentlist li .comment-text {
        margin: 20px 0 0;
        padding: 0;
        text-align: center;
    }
    .rtl.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
        float: none;
    }
}


.rtl .wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon input {
    padding-left: 4em;
    padding-right: 24px;
}

.rtl .widget.woocommerce ul.product-categories li span {
    left: 0;
    right: auto;
}
.rtl .woocommerce ul.products.product-thumb-alignment-top-left li.product .product-thumb-content,
.rtl .woocommerce ul.products li.product .price{text-align: right;}
.rtl .woocommerce .product span.price del, .rtl .woocommerce .product-price del{margin: 0 0 0 5px;}
.rtl .wdt-product-pagination .next-post a span {
    margin-right: 0;
    transform: scaleX(-1);
}
.rtl .wdticon-angle-double-left::before, .rtl .wdticon-angle-double-right::before{transform: scaleX(-1)}


/* ======cart====== */
.rtl.woocommerce .woocommerce-message .button{float: left;}
.rtl .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{
  padding-left: 8px;
  padding-right: 20px;
}
.rtl .woocommerce table.shop_table thead th, .rtl .woocommerce-page table.shop_table tbody td {
  text-align: right;
}
.rtl .woocommerce table.shop_table thead th:first-child, .rtl .woocommerce-page table.shop_table thead th:first-child {
  padding-right: 30px;
  padding-left: 15px;
}
.rtl .woocommerce table.shop_table tr td:last-child, .rtl .woocommerce-page table.shop_table tr td:last-child {
  padding-left: 30px;
  padding-right: 15px;
}
.rtl .woocommerce table.shop_table tr td:first-child, .rtl .woocommerce-page table.shop_table tr td:first-child {
  padding-right: 30px;
  padding-left: 15px;
}
.rtl .woocommerce .wdt-cart-button, .rtl .woocommerce-page .wdt-cart-button {
  text-align: left;
}
.rtl .woocommerce .cart-collaterals table.shop_table tr th, .rtl .woocommerce-page .cart-collaterals table.shop_table tr th,
.rtl .woocommerce .cart-collaterals table.shop_table tr td, .rtl .woocommerce-page .cart-collaterals table.shop_table tr td{
    text-align: right;
}
.rtl.woocommerce .cart-collaterals table.shop_table tr td:last-child, .rtl.woocommerce-page .cart-collaterals table.shop_table tr td:last-child {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
.rtl .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout, .rtl .woocommerce-page .cart-collaterals .cart_totals .wc-proceed-to-checkout {
  float: right;
}
@media only screen and (min-width: 768px) {
  .rtl .woocommerce table.shop_table tr td:not(:last-child), .rtl .woocommerce-page table.shop_table tr td:not(:last-child) {
    text-align: right !important;
  }
}
@media only screen and (max-width: 767px) {
  .rtl .woocommerce table.shop_table tr td.product-remove {
    left: 15px;
    right: auto;
  }
  .rtl .woocommerce .cart-collaterals table.shop_table tr th, .rtl .woocommerce .wdt-cart-button, .rtl .woocommerce-page .wdt-cart-button{text-align: center;}
}


/* ========checkout======== */
.rtl .woocommerce .woocommerce-checkout-review-order .shop_table .product-name img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.rtl .woocommerce .woocommerce-checkout-review-order .shop_table tr td:first-child, .rtl .woocommerce .woocommerce-checkout-review-order .shop_table tr td:last-child {
  padding: 20px 0;
}
.rtl .woocommerce .woocommerce-checkout-review-order .shop_table .checkout-review-order-details span {
  margin-left: 8px;
  margin-right: 0;
  float: right;
}
.rtl .woocommerce .woocommerce-checkout-review-order .shop_table tr th:last-child, .rtl .woocommerce .woocommerce-checkout-review-order .shop_table tr td:last-child,
.rtl .woocommerce .woocommerce-checkout-review-order table.shop_table tr td ul#shipping_method li {
  text-align: left;
}
.rtl .woocommerce .shop_table.woocommerce-checkout-review-order-table th{text-align: right;}
.rtl .woocommerce-checkout #payment div.form-row.place-order > #place_order{float: right;}

@media only screen and (max-width: 767px) {
  .rtl .woocommerce table.shop_table tr th, .rtl body .woocommerce table.shop_table tr td {
    float: right;
    text-align: right;
  }
  .rtl .woocommerce .woocommerce-checkout-review-order .shop_table .checkout-review-order-details {
  text-align: right;
}
  .rtl .woocommerce .woocommerce-checkout-review-order table.shop_table tr td,
  .rtl .woocommerce .woocommerce-checkout-review-order table.shop_table tr.tax-rate td,
  .rtl .woocommerce .woocommerce-checkout-review-order table.shop_table tr.shipping td,
  .rtl .woocommerce .woocommerce-checkout-review-order table.shop_table tr.order-total td,
  .rtl .woocommerce .woocommerce-checkout-review-order table.shop_table tr.cart-subtotal td{float: left;}
  }

@media only screen and (max-width: 479px) {
  .rtl .woocommerce .woocommerce-checkout-review-order .shop_table .checkout-review-order-details {
    text-align: center;
  }
  .rtl .woocommerce .woocommerce-checkout-review-order .shop_table .checkout-review-order-details span {
    display: inline-block;
    float: none;
  }
}

/* ========whislist====== */

.rtl .woocommerce .tinvwl-table-manage-list thead tr th:last-child, .rtl .woocommerce.tinv-wishlist table td:last-child {
  border-left: 0 !important;
}
.rtl .tinv-wishlist .tinvwl-table-manage-list .product-cb, .rtl .woocommerce.tinv-wishlist table td {
  border-right: 0 !important;
  border-left: 1px solid var(--wdtBorderColor) !important;
}
.rtl .tinv-wishlist .wishlist_item .product-action > .button > i {
  margin-left: 0;
}
.rtl .tinv-wishlist tfoot .tinvwl-to-right {
  float: left;
  text-align: left;
}
.rtl .tinv-wishlist tfoot .tinvwl-to-left:not(:empty) {
  float: right;
  margin-right: 2%;
  margin-left: 0;
}
.rtl .woocommerce.tinv-wishlist tfoot .tinvwl-to-left .tinvwl-input-group > :not(:last-child), .rtl .woocommerce.tinv-wishlist .tinvwl-to-right > :not(:last-child) {
  margin-left: 15px;
  margin-right: 0;
}
.rtl .tinv-wishlist .social-buttons {
  text-align: right;
}
.rtl .tinv-wishlist .product-stock i {
  margin-left: 10px !important;
  margin-right: 15px !important;
}

@media only screen and (max-width: 1024px) {
  .rtl .tinv-wishlist .tinvwl-table-manage-list .product-remove {
    display: none;
  }
  .rtl .tinv-wishlist tfoot .tinvwl-to-right {
  float: right;
  text-align: right;
}
}


/* ========My Account ========= */

.rtl .woocommerce form.login .woocommerce-form-row label, .rtl .woocommerce form.register .woocommerce-form-row label {
  padding-right: 20px;
  padding-left: 0;
}
.rtl .woocommerce form.login .woocommerce-form-row label::before, .woocommerce form.register .woocommerce-form-row label::before {
  right: 1px;
  left: auto;
}
.rtl .woocommerce form .woocommerce-form-row.form-row .required {
  margin-right: 4px;
  margin-left: 0;
}
.rtl .woocommerce-form__label-for-checkbox input[type="checkbox"] {
  margin-left: 5px;
  margin-right: 0;
}
.rtl .woocommerce form .form-row-first {
  float: right;
}






/* =======footer style======= */

.rtl .wdt-cus-footer-iconbox .wdt-content-item .wdt-content-detail-group {
    margin-right: 20px;
    margin-left: 0;
}
.rtl .wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder {
    left: 0;
    right: auto;
    transform: scaleX(-1);
}
.rtl .wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 0;
}
.rtl .wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon input[type="checkbox"]{padding: 0!important;}



/* Icon Widget style */
/* =================== */
.elementor-widget.elementor-icon-list--layout-inline .elementor-widget-container {
    overflow: hidden
}
.elementor-widget .elementor-icon-list-items.elementor-inline-items {
    margin-right: -8px; margin-left: -8px; display: flex;
}
.elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: 8px; margin-left: 8px
}
.elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    width: auto; left: auto; right: auto; position: relative; height: 100%; border-top: 0; border-bottom: 0; border-right: 0;
    border-left-width: 1px; border-style: solid; left: -8px;  right: auto;
}
.elementor-widget .elementor-icon-list-items {
    list-style-type: none; margin: 0; padding: 0
}
.elementor-widget .elementor-icon-list-item {
    margin: 0; padding: 0; position: relative
}
.elementor-widget .elementor-icon-list-item:after {
    position: absolute; bottom: 0; width: 100%
}
.elementor-widget .elementor-icon-list-item,
.elementor-widget .elementor-icon-list-item a {
    display: flex; font-size: inherit; align-items: var(--icon-vertical-align, center)
}
.elementor-widget .elementor-icon-list-icon+.elementor-icon-list-text {
    align-self: center; padding-right: 5px; padding-left: 0;
}
.elementor-widget .elementor-icon-list-icon {
    display: flex; position: relative; top: var(--icon-vertical-offset, initial)
}
.elementor-widget .elementor-icon-list-icon svg {
    width: var(--e-icon-list-icon-size, 1em); height: var(--e-icon-list-icon-size, 1em)
}
.elementor-widget .elementor-icon-list-icon i {
    width: 1.25em; font-size: var(--e-icon-list-icon-size)
}
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-icon {
    text-align: var(--e-icon-list-icon-align)
}
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-icon svg {
    margin: var(--e-icon-list-icon-margin, 0 calc(var(--e-icon-list-icon-size, 1em) * .25) 0 0)
}
.elementor-widget.elementor-list-item-link-full_width a {
    width: 100%
}
.elementor-widget.elementor-align-center .elementor-icon-list-item,
.elementor-widget.elementor-align-center .elementor-icon-list-item a {
    justify-content: start;
}
.elementor-widget.elementor-align-center .elementor-icon-list-item:after {
    margin: auto
}
.elementor-widget.elementor-align-center .elementor-inline-items {
    justify-content: center
}
.elementor-widget.elementor-align-left .elementor-icon-list-item,
.elementor-widget.elementor-align-left .elementor-icon-list-item a {
    justify-content: flex-start;
    text-align: right;
}
.elementor-widget.elementor-align-left .elementor-inline-items {
    justify-content: flex-end;
}
.elementor-widget.elementor-align-right .elementor-icon-list-item,
.elementor-widget.elementor-align-right .elementor-icon-list-item a {
    justify-content: flex-start;
    text-align: right
}
.elementor-widget.elementor-align-right .elementor-icon-list-items {
    justify-content: flex-end
}
.elementor-widget:not(.elementor-align-right) .elementor-icon-list-item:after {
    left: 0
}
.elementor-widget:not(.elementor-align-left) .elementor-icon-list-item:after {
    right: 0
}
@media (min-width:0) {
    .elementor-widget.elementor-widescreen-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-widescreen-align-center .elementor-icon-list-item a {
        justify-content: center
    }
    .elementor-widget.elementor-widescreen-align-center .elementor-icon-list-item:after {
        margin: auto
    }
    .elementor-widget.elementor-widescreen-align-center .elementor-inline-items {
        justify-content: center
    }
    .elementor-widget.elementor-widescreen-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-widescreen-align-left .elementor-icon-list-item a {
        justify-content: flex-start; text-align: left
    }
    .elementor-widget.elementor-widescreen-align-left .elementor-inline-items {
        justify-content: flex-start
    }
    .elementor-widget.elementor-widescreen-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-widescreen-align-right .elementor-icon-list-item a {
        justify-content: flex-end; text-align: right
    }
    .elementor-widget.elementor-widescreen-align-right .elementor-icon-list-items {
        justify-content: flex-end
    }
    .elementor-widget:not(.elementor-widescreen-align-right) .elementor-icon-list-item:after {
        left: 0
    }
    .elementor-widget:not(.elementor-widescreen-align-left) .elementor-icon-list-item:after {
        right: 0
    }
}
@media (max-width:1540px) {
    .elementor-widget.elementor-laptop-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-laptop-align-center .elementor-icon-list-item a {
        justify-content: center
    }
    .elementor-widget.elementor-laptop-align-center .elementor-icon-list-item:after {
        margin: auto
    }
    .elementor-widget.elementor-laptop-align-center .elementor-inline-items {
        justify-content: center
    }
    .elementor-widget.elementor-laptop-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-laptop-align-left .elementor-icon-list-item a {
        justify-content: flex-start; text-align: left
    }
    .elementor-widget.elementor-laptop-align-left .elementor-inline-items {
        justify-content: flex-start
    }
    .elementor-widget.elementor-laptop-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-laptop-align-right .elementor-icon-list-item a {
        justify-content: flex-end; text-align: right
    }
    .elementor-widget.elementor-laptop-align-right .elementor-icon-list-items {
        justify-content: flex-end
    }
    .elementor-widget:not(.elementor-laptop-align-right) .elementor-icon-list-item:after {
        left: 0
    }
    .elementor-widget:not(.elementor-laptop-align-left) .elementor-icon-list-item:after {
        right: 0
    }
}
@media (max-width:1280px) {
    .elementor-widget.elementor-tablet_extra-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-tablet_extra-align-center .elementor-icon-list-item a {
        justify-content: center
    }
    .elementor-widget.elementor-tablet_extra-align-center .elementor-icon-list-item:after {
        margin: auto
    }
    .elementor-widget.elementor-tablet_extra-align-center .elementor-inline-items {
        justify-content: center
    }
    .elementor-widget.elementor-tablet_extra-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-tablet_extra-align-left .elementor-icon-list-item a {
        justify-content: flex-start; text-align: left
    }
    .elementor-widget.elementor-tablet_extra-align-left .elementor-inline-items {
        justify-content: flex-start
    }
    .elementor-widget.elementor-tablet_extra-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-tablet_extra-align-right .elementor-icon-list-item a {
        justify-content: flex-end; text-align: right
    }
  
    .elementor-widget:not(.elementor-tablet_extra-align-right) .elementor-icon-list-item:after {
        left: 0
    }
    .elementor-widget:not(.elementor-tablet_extra-align-left) .elementor-icon-list-item:after {
        right: 0
    }
}
@media (max-width:1024px) {
    .elementor-widget.elementor-tablet-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-tablet-align-center .elementor-icon-list-item a {
        justify-content: center
    }
    .elementor-widget.elementor-tablet-align-center .elementor-icon-list-item:after {
        margin: auto
    }
    .elementor-widget.elementor-tablet-align-center .elementor-inline-items {
        justify-content: center
    }
    .elementor-widget.elementor-tablet-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-tablet-align-left .elementor-icon-list-item a {
        justify-content: flex-start; text-align: left
    }
    .elementor-widget.elementor-tablet-align-left .elementor-inline-items {
        justify-content: flex-start
    }
    .elementor-widget.elementor-tablet-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-tablet-align-right .elementor-icon-list-item a {
        justify-content: flex-end; text-align: right
    }
    .elementor-widget.elementor-tablet-align-right .elementor-icon-list-items {
        justify-content: flex-end
    }
    .elementor-widget:not(.elementor-tablet-align-right) .elementor-icon-list-item:after {
        left: 0
    }
    .elementor-widget:not(.elementor-tablet-align-left) .elementor-icon-list-item:after {
        right: 0
    }
}
@media (max-width:767px) {
    .elementor-widget.elementor-mobile_extra-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-mobile_extra-align-center .elementor-icon-list-item a {
        justify-content: center
    }
    .elementor-widget.elementor-mobile_extra-align-center .elementor-icon-list-item:after {
        margin: auto
    }
    .elementor-widget.elementor-mobile_extra-align-center .elementor-inline-items {
        justify-content: center
    }
    .elementor-widget.elementor-mobile_extra-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-mobile_extra-align-left .elementor-icon-list-item a {
        justify-content: flex-start; text-align: right
    }
    
    .elementor-widget.elementor-mobile_extra-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-mobile_extra-align-right .elementor-icon-list-item a {
        justify-content: flex-end;  text-align: right
    }
    .elementor-widget.elementor-mobile_extra-align-right .elementor-icon-list-items {
        justify-content: flex-start;
    }
    .elementor-widget:not(.elementor-mobile_extra-align-right) .elementor-icon-list-item:after {
        left: 0
    }
    .elementor-widget:not(.elementor-mobile_extra-align-left) .elementor-icon-list-item:after {
        right: 0
    }
    .elementor-widget.elementor-mobile_extra-align-left .elementor-inline-items{
        justify-content: flex-start;
    }
}
@media (max-width:479px) {
    .elementor-widget.elementor-mobile-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-mobile-align-center .elementor-icon-list-item a {
        justify-content: center
    }
    .elementor-widget.elementor-mobile-align-center .elementor-icon-list-item:after {
        margin: auto
    }
    .elementor-widget.elementor-mobile-align-center .elementor-inline-items {
        justify-content: center
    }
    .elementor-widget.elementor-mobile-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-mobile-align-left .elementor-icon-list-item a {
        justify-content: flex-start; text-align: right
    }
    .elementor-widget.elementor-mobile-align-left .elementor-inline-items {
        justify-content: flex-start
    }
    .elementor-widget.elementor-mobile-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-mobile-align-right .elementor-icon-list-item a {
        justify-content: flex-end; text-align: right
    }
    .elementor-widget.elementor-mobile-align-right .elementor-icon-list-items {
        justify-content: flex-end
    }
    .elementor-widget:not(.elementor-mobile-align-right) .elementor-icon-list-item:after {
        left: 0
    }
    .elementor-widget:not(.elementor-mobile-align-left) .elementor-icon-list-item:after {
        right: 0
    }
}

/* button style */
.rtl .wdt-button-holder.wdt-template-filled a.wdt-button:before{ 
    -webkit-transform: translate(-5px, 5px) rotate(-145deg);
    transform: translate(-5px, 5px) rotate(-145deg);}